/node_modules
/dist

.env

.DS_Store?
ehthumbs.db
Icon?
Thumbs.db
*.DS_Store

notes.md

netlify/functions/events/**
!netlify/functions/events/index.js

netlify/builders/events/**
!netlify/builders/events/index.js