---
title: Homepage
layout: layouts/base.njk
---

<div class="flex flex-col items-center justify-center p-10 prose-lg mt-10">
  <h1 class="animate-bounce">Hello and welcome to the home page!</h1>
</div>
